@model Allianz.Vita.Quality.Models.DefectViewModel

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>DefectViewModel</h4>
    <hr />
    <div class="panel">
        <div class="form-inline">
            <a href="@Model.Url&_a=edit" target="_blank">View in Tracking Tool</a> 
            @if (!Model.IsAutoAssigned)
            {
                <span>|</span>
                @Html.ActionLink("Prendi in carico", "Autoassign", "Defect", routeValues: new { id = Model.Id }, htmlAttributes: null)
            }
</div>
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        @if (!string.IsNullOrEmpty(Model.AssignedTo))
        {
            <dt>
                @Html.DisplayNameFor(model => model.AssignedTo)
            </dt>

            <dd>
                <a href="mailto:@Model.ConfirmedNotificationAddress">@Html.DisplayFor(model => model.AssignedTo) </a> 
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.AreaPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iteration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iteration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SurveySystem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurveySystem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefectID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefectID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoundIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoundIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Agency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Environment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Environment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefectType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefectType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.EditorFor(m => m.Description, new { @class = "form-control" })
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.IMailItemUniqueId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IMailItemUniqueId)
            </dd>*@

    </dl>
    <div class="panel">
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id })*@
        <span class="disabled"> Edit </span> | @Html.ActionLink("Back to List", "Index")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
