@model IEnumerable<Allianz.Vita.Quality.Models.DefectViewModel>

@{
    ViewBag.Title = "Defect Inseriti";
    ViewBag.RowsPerPage = 50;
}

<h2>@ViewBag.Title</h2>
<div>
    <hr />
    <p class="disabled">
        @*@Html.ActionLink("Create New", "Create")*@
        Create New
    </p>
    <hr />
    @{
        var grid = new WebGrid(Model, rowsPerPage: ViewBag.RowsPerPage, defaultSort: "Id desc");
    }

    <div>Showing @ViewBag.RowsPerPage Rows per page on @Model.Count() elements...</div>
    @grid.GetHtml(columns: grid.Columns(
        grid.Column("", format:@<a href="./Defect/Detail?Id=@item.Id">Details</a>),
        grid.Column("Title", header: "Defect"),
        grid.Column("AreaPath", header: "Area"),
        grid.Column("State", header: "State"),
        grid.Column("", format:@<a href="@item.Url&_a=edit" target="_blank">View in Tracking Tool</a>)
        ))
    <hr />
</div>
