@model Allianz.Vita.Quality.Models.DefectModel

@{
    ViewBag.Title = "Defect Inseriti";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>        
        <th>
            @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
        </th>
        <th>
            @Html.LabelFor(m => m.AreaPath, new { @class = "col-md-2 control-label" })
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Model.Title
        </td>
        <td>
            @Model.AreaPath
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>

</table>
