<section id="menuSettings">

    <ul class="list-group">
        <li class="list-group-item">@Html.ActionLink("Credentials", "Credentials", "Account")</li>
        <li class="list-group-item">@Html.ActionLink("Mail", "Mail", "Account")</li>
        <li class="list-group-item">@Html.ActionLink("Defect", "Defect", "Account")</li>
        <li class="list-group-item">@Html.ActionLink("Issue", "Issue", "Account")</li>
    </ul>
    <h4>Export</h4>
    <div>
        @Html.ActionLink("Export Settings", "Export", "Account", null, new { target = "_blank" })
    </div>
    <h4>Import</h4>
    @using (Html.BeginForm("ImportSettings", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div class="row">
            <div class="col-md-8">
                <div class="input-group">
                    <label class="input-group-btn">
                        <span class="btn btn-primary">
                            Browse&hellip; <input type="file" style="display: none;" name="file" />
                        </span>
                    </label>
                    <input type="text" class="form-control" name="file_name_txt" readonly />
                </div>
            </div>
            <div class="col-md-4">
                <input type="submit" value="Import" class="btn btn-default" />
            </div>
        </div>
    }
    
    @Scripts.Render("~/bundles/menuSettings")

</section>


