@model Allianz.Vita.Quality.Models.ConvertViewModel
@{
    ViewBag.Title = "Convert Request to Defects";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>Public Folder @Model.PublicFolderDisplayName</h4>
<table class="table">
    <tbody>
        @foreach (var item in Model.PublicFolderMessages) {
            <tr>
                @using (Html.BeginForm("Create", "Defect", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("UniqueId", item.UniqueId)
                    <td>
                        @item.From
                    </td>
                    <td>
                        @item.Subject
                    </td>
                    <td>
                        <div>
                            <input type="submit" class="btn btn-default" value="Convert" title="Convert to Defect" />
                        </div>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
