@model Allianz.Vita.Quality.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Quality Management User Tool</h1>
    <p class="lead">ASP.NET leads Qualty Management Operators to a new frontier: get access to all SRM Request and convert them into Defects.</p>
    <p><a href="./Convert/" class="btn btn-primary btn-lg">Learn more &raquo;</a>
        <a href="http://online.servizi.ras/Vita/SUV" class="btn btn-primary btn-lg" target="_blank"> Open SUV &raquo;</a>
    </p>    
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Inbox Unread Email</h2>
        <p>
            There are at least @Model.InboxMessages.Count() messages in your Inbox.            
        </p>
        <p><a class="btn btn-default" href="https://cas01.servizi.allianzit/owa/" target="_blank">check it out! &raquo;</a></p>

        <h3>Here's some of them.</h3>
        <ul class="list-group">
           @foreach(var item in Model.InboxMessages)
           {
               <li>@item.PadRight(50, ' ').Substring(0, 50) ...</li>
           }
        </ul>
    </div>
    <div class="col-md-5">
    <h2>SRM Requests</h2>
    <p>
        There are at least @Model.PublicFolderMessages.Count() messages in @Model.PublicFolderDisplayName.
    </p>
    <p> @Html.ActionLink("Convert Them! »", "Index", "Convert", null, new { @class = "btn btn-default" } ) </p>
    <h3>Here's some of them.</h3>
    <ul class="list-group">
        @foreach (var item in Model.PublicFolderMessages)
        {
            <li>@item</li>
        }
    </ul>
    </div>
    <div class="col-md-2">
        <h2>Read All WIP Defects</h2>
        <p>
            ...ad access to their details in TFS :)
        </p>
        <p> @Html.ActionLink("Take a look! »", "Index", "Defect", null, new { @class = "btn btn-default" }) </p>
    </div>
    @*<div class="col-md-3">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>*@
</div>