@model Allianz.Vita.Quality.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Quality Management User Tool</h1>
    <p class="lead">ASP.NET leads Qualty Management Operators to a new frontier: get access to all SRM Request and convert them into Defects.</p>
    <p>
        <a href="./Convert/" class="btn btn-primary btn-lg">Convert Defect &raquo;</a>
        <a href="http://online.servizi.ras/Vita/SUV" class="btn btn-primary btn-lg" target="_blank"> Open SUV &raquo;</a>
        <a href="http://online.servizi.ras/Vita/Sisco" class="btn btn-primary btn-lg" target="_blank"> Open SisCo &raquo;</a>
        <a href="http://online.azi.allianzit/jira" class="btn btn-primary btn-lg" target="_blank"> Open Jira &raquo;</a>
    </p>    
</div>

<div class="row">
    <div class="col-md-5">
        <h2>Inbox Unread Email</h2>
        <p>
            There are at least @Model.InboxMessages.Count() messages in your Inbox.            
        </p>
        <p><a class="btn btn-default" href="https://cas01.servizi.allianzit/owa/" target="_blank">check it out! &raquo;</a></p>

        <h3>Here's some of them:</h3>
        <ul class="list-group">
           @foreach(var item in Model.InboxMessages)
           {
               <li>@item.PadRight(50, ' ').Substring(0, 50) ...</li>
           }
        </ul>
    </div>
    <div class="col-md-7">
    <h2>SRM Requests</h2>
    <p>
        There are at least @Model.PublicFolderMessages.Count() messages in @Model.PublicFolderDisplayName.
    </p>
    <p> @Html.ActionLink("Convert Them! »", "Index", "Convert", null, new { @class = "btn btn-default" } ) </p>
    <h3>Here's some of them:</h3>
    <ul class="list-group">
        @foreach (var item in Model.PublicFolderMessages)
        {
            <li>@item</li>
        }
    </ul>
    </div>
    <div class="col-md-12">
        <div class="col-md-3">
            <h2>Read All WIP Defects</h2>
            <p>
                ...and access to their details in TFS :)
            </p>
            <p> @Html.ActionLink("Take a look! »", "Index", "Defect", null, new { @class = "btn btn-default" }) </p>
        </div>
        <div class="col-md-3">
            <h2>Open JIRA</h2>
            <p>
                ...and access to Internal Ticket
            </p>
            <p><a class="btn btn-default" href="http://http://online.azi.allianzit/jira" target="_blank">check it out! &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2>Open Sisco</h2>
            <p>
                ...and access to Sisco Ticket
            </p>
            <p><a class="btn btn-default" href="http://online.servizi.ras/Vita/Sisco/" target="_blank">check it out! &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2>Open SRM</h2>
            <p>
                ...and access to SRM Ticket
            </p>
            <p><a class="btn btn-default" href="http://online.servizi.ras/dacts/SRMWA/" target="_blank">check it out! &raquo;</a></p>
        </div>
    </div>

    </div>